@font-face {
    font-family: 'Bahij Janna';
    src: url('bahij_janna-regular-webfont.woff2') format('woff2'),
    url('bahij_janna-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
