// @nebular theming framework
@import '~@nebular/theme/styles/theming';
// @nebular out of the box themes
@import '~@nebular/theme/styles/themes';

$nb-themes: nb-register-theme((
        font-family-primary: Bahij Karim,
        font-family-secondary: Bahij Karim,
        text-paragraph-font-size: 1.5rem,
        text-label-font-size: 1.2rem,
        text-label-font-weight: 300
), default, default);
